@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
}

/* ===== LIGHT MODE ===== */
:root {
  --primary: #E33336;
  --background: #F5F7FB;
  --foreground: #ffffff;
  --text: #151516;
  --text-secondary: #4B5563;
}

/* ===== DARK MODE ===== */
.dark {
  --primary: #E33336;
  --background: #16171D;
  --foreground: #14121A;
  --text: #ffffff;
  --text-secondary: #9CA3AF;
}

@apply bg-background text-text;

